@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
// @import "breakpoints.scss";

// Resets

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video 
{
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;

}

html {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

// Responsive classes

:root {
    --vh: 1vh;
  }

:root {
    --text-base-size: 1em;

    --text-scale-ratio: 1.2;
    --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
}

:root {
    --space-unit:  1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs:  calc(0.25 * var(--space-unit));
    --space-xxs:   calc(0.375 * var(--space-unit));
    --space-xs:    calc(0.5 * var(--space-unit));
    --space-sm:    calc(0.75 * var(--space-unit));
    --space-md:    calc(1.25 * var(--space-unit));
    --space-lg:    calc(2 * var(--space-unit));
    --space-xl:    calc(3.25 * var(--space-unit));
    --space-xxl:   calc(5.25 * var(--space-unit));
    --space-xxxl:  calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
  }

  :root {
    --transparent-light: rgba(0,0,0,0.2);
    --transparent-med: rgba(0,0,0,0.4);
    --transparent-heavy: rgba(0,0,0,0.8);
  }

  $font-family-main: "Montserrat", sans-serif;
  $font-family-secondary: "Hind", sans-serif;


html {
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
    font-family: $font-family-secondary;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    font-size: var(--text-base-size);
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family:  $font-family-main;
    line-height: unset;
    margin: 0;
}

.text-xxxl {
    font-size: var(--text-xxxl);
}

h1,
.text-xxl {
    font-size: var(--text-xxl);
    
}

h2,
.text-xl {
    font-size: var(--text-xl);
}

h3,
.text-lg {
    font-size: var(--text-lg);
}

h4,
.text-md {
    font-size: var(--text-md);
}

.text-sm,
small {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

.text-muted {
    color: rgba(0,0,0,0.6);
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 1024px;

// Tablets and small desktops
$screen-lg-min: 1440px;

// Large tablets and desktops
$screen-xl-min: 1920px;

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
// @supports (--css: variables) {
//     @include md {
//         :root {
//             --text-base-size: 1.25em;
//         }
//     }
//     @include lg {
//         :root {
//             --text-base-size: 1.5em;
//         }
//     }
//     @include xl {
//         :root {
//             --text-base-size: 1.75em;
//         }
//     }
// }

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  
}


@mixin rotated-text(
    $num-letters: 100,
    $angle-span: 180deg,
    $angle-offset: 0deg
) {
    $angle-per-char: $angle-span / $num-letters;
    @for $i from 1 through $num-letters {
        .char#{$i} {
            @include transform(rotate($angle-offset + $angle-per-char * $i));
        }
    }
}

.animated__avatar {
    animation: float 0.7s infinite linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    &:hover {
        animation: scale 0.3s forwards linear;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0.15em);
    }
}

$help-animation: attention 2s infinite linear;

.help--animation {
    animation: $help-animation;
}

.help--highlight {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 10px #ffeb3b, 0 0 10px #ffeb3b,
        0 0 5px #ffeb3b, 0 0 30px #ffeb3b;
}

@keyframes attention {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }
     100% {
        transform: scale(1)
    }
}
