
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
html {
    width: 100%;
    }

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    font-family: "Hind", sans-serif;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */     
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    }
    h1,
    h2,
    h3,
    h4, 
    h5,
    h6, 
    label {
        font-family: "Montserrat", sans-serif;  
    }



.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    margin: unset;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: unset;
}



@mixin rotated-text(
    $num-letters: 100,
    $angle-span: 180deg,
    $angle-offset: 0deg
) {
    $angle-per-char: $angle-span / $num-letters;
    @for $i from 1 through $num-letters {
        .char#{$i} {
            @include transform(rotate($angle-offset + $angle-per-char * $i));
        }
    }
}
