
html {
    width: 100%;
    }

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    }
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    margin: unset;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: unset;
}

.blue--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='500' preserveAspectRatio='none' viewBox='0 0 600 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1343%26quot%3b)' fill='none'%3e%3crect width='600' height='500' x='0' y='0' fill='rgba(17%2c 101%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L118.36 0L0 240.33z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 240.33L118.36 0L167.57999999999998 0L0 317.61z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 317.61L167.57999999999998 0L307.15 0L0 431.25z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 431.25L307.15 0L480.80999999999995 0L0 467.92z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M600 500L530.62 500L600 282.1z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M600 282.1L530.62 500L247.23000000000002 500L600 185.31z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M600 185.31L247.23000000000002 500L129.97000000000003 500L600 174.05z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M600 174.05L129.97000000000003 500L110.87000000000003 500L600 97.68z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1343'%3e%3crect width='600' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.red--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='700' preserveAspectRatio='none' viewBox='0 0 400 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1219%26quot%3b)' fill='none'%3e%3crect width='400' height='700' x='0' y='0' fill='rgba(183%2c 28%2c 28%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c288.081C53.278%2c293.892%2c107.076%2c262.778%2c143.778%2c223.723C177.47%2c187.871%2c170.135%2c131.768%2c189.427%2c86.509C208.023%2c42.882%2c257.809%2c10.699%2c254.756%2c-36.628C251.693%2c-84.105%2c212.202%2c-122.362%2c174.114%2c-150.871C140.188%2c-176.265%2c96.595%2c-179.86%2c54.719%2c-186.357C17.924%2c-192.065%2c-18.225%2c-193.738%2c-54.724%2c-186.373C-94.066%2c-178.434%2c-137.096%2c-171.885%2c-164.107%2c-142.2C-191.292%2c-112.323%2c-186.274%2c-67.063%2c-198.357%2c-28.519C-213.305%2c19.163%2c-259.183%2c63.764%2c-243.553%2c111.227C-228.135%2c158.044%2c-164.825%2c165.45%2c-124.941%2c194.412C-81.952%2c225.628%2c-52.814%2c282.32%2c0%2c288.081' fill='%23a71a1a'%3e%3c/path%3e%3cpath d='M400 944.059C447.898 944.281 496.169 938.157 537.544 914.023 579.98 889.27 619.0699999999999 853.756 634.674 807.172 649.756 762.146 626.244 715.443 619.822 668.394 613.343 620.931 618.1990000000001 572.34 596.771 529.4970000000001 571.315 478.601 541.156 421.125 487.16200000000003 403.153 433.021 385.132 371.796 408.532 323.198 438.436 280.347 464.803 272.925 523.746 235.87 557.781 191.388 598.638 105.64499999999998 597.485 87.36399999999998 655.05 69.77600000000001 710.433 122.44200000000001 763.801 155.202 811.795 183.569 853.352 219.004 888.836 263.272 912.754 305.258 935.439 352.279 943.838 400 944.059' fill='%23c81f1f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1219'%3e%3crect width='400' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.yellow--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='700' preserveAspectRatio='none' viewBox='0 0 400 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1220%26quot%3b)' fill='none'%3e%3crect width='400' height='700' x='0' y='0' fill='rgba(249%2c 168%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c288.081C53.278%2c293.892%2c107.076%2c262.778%2c143.778%2c223.723C177.47%2c187.871%2c170.135%2c131.768%2c189.427%2c86.509C208.023%2c42.882%2c257.809%2c10.699%2c254.756%2c-36.628C251.693%2c-84.105%2c212.202%2c-122.362%2c174.114%2c-150.871C140.188%2c-176.265%2c96.595%2c-179.86%2c54.719%2c-186.357C17.924%2c-192.065%2c-18.225%2c-193.738%2c-54.724%2c-186.373C-94.066%2c-178.434%2c-137.096%2c-171.885%2c-164.107%2c-142.2C-191.292%2c-112.323%2c-186.274%2c-67.063%2c-198.357%2c-28.519C-213.305%2c19.163%2c-259.183%2c63.764%2c-243.553%2c111.227C-228.135%2c158.044%2c-164.825%2c165.45%2c-124.941%2c194.412C-81.952%2c225.628%2c-52.814%2c282.32%2c0%2c288.081' fill='%23f89e0c'%3e%3c/path%3e%3cpath d='M400 944.059C447.898 944.281 496.169 938.157 537.544 914.023 579.98 889.27 619.0699999999999 853.756 634.674 807.172 649.756 762.146 626.244 715.443 619.822 668.394 613.343 620.931 618.1990000000001 572.34 596.771 529.4970000000001 571.315 478.601 541.156 421.125 487.16200000000003 403.153 433.021 385.132 371.796 408.532 323.198 438.436 280.347 464.803 272.925 523.746 235.87 557.781 191.388 598.638 105.64499999999998 597.485 87.36399999999998 655.05 69.77600000000001 710.433 122.44200000000001 763.801 155.202 811.795 183.569 853.352 219.004 888.836 263.272 912.754 305.258 935.439 352.279 943.838 400 944.059' fill='%23fab23e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1220'%3e%3crect width='400' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.pretty-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow--dark {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin rotated-text(
    $num-letters: 100,
    $angle-span: 180deg,
    $angle-offset: 0deg
) {
    $angle-per-char: $angle-span / $num-letters;
    @for $i from 1 through $num-letters {
        .char#{$i} {
            @include transform(rotate($angle-offset + $angle-per-char * $i));
        }
    }
}
