// Utility classes

.blue--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='500' preserveAspectRatio='none' viewBox='0 0 600 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1343%26quot%3b)' fill='none'%3e%3crect width='600' height='500' x='0' y='0' fill='rgba(17%2c 101%2c 189%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L118.36 0L0 240.33z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 240.33L118.36 0L167.57999999999998 0L0 317.61z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 317.61L167.57999999999998 0L307.15 0L0 431.25z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 431.25L307.15 0L480.80999999999995 0L0 467.92z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M600 500L530.62 500L600 282.1z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M600 282.1L530.62 500L247.23000000000002 500L600 185.31z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M600 185.31L247.23000000000002 500L129.97000000000003 500L600 174.05z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M600 174.05L129.97000000000003 500L110.87000000000003 500L600 97.68z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1343'%3e%3crect width='600' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.red--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='700' preserveAspectRatio='none' viewBox='0 0 400 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1219%26quot%3b)' fill='none'%3e%3crect width='400' height='700' x='0' y='0' fill='rgba(183%2c 28%2c 28%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c288.081C53.278%2c293.892%2c107.076%2c262.778%2c143.778%2c223.723C177.47%2c187.871%2c170.135%2c131.768%2c189.427%2c86.509C208.023%2c42.882%2c257.809%2c10.699%2c254.756%2c-36.628C251.693%2c-84.105%2c212.202%2c-122.362%2c174.114%2c-150.871C140.188%2c-176.265%2c96.595%2c-179.86%2c54.719%2c-186.357C17.924%2c-192.065%2c-18.225%2c-193.738%2c-54.724%2c-186.373C-94.066%2c-178.434%2c-137.096%2c-171.885%2c-164.107%2c-142.2C-191.292%2c-112.323%2c-186.274%2c-67.063%2c-198.357%2c-28.519C-213.305%2c19.163%2c-259.183%2c63.764%2c-243.553%2c111.227C-228.135%2c158.044%2c-164.825%2c165.45%2c-124.941%2c194.412C-81.952%2c225.628%2c-52.814%2c282.32%2c0%2c288.081' fill='%23a71a1a'%3e%3c/path%3e%3cpath d='M400 944.059C447.898 944.281 496.169 938.157 537.544 914.023 579.98 889.27 619.0699999999999 853.756 634.674 807.172 649.756 762.146 626.244 715.443 619.822 668.394 613.343 620.931 618.1990000000001 572.34 596.771 529.4970000000001 571.315 478.601 541.156 421.125 487.16200000000003 403.153 433.021 385.132 371.796 408.532 323.198 438.436 280.347 464.803 272.925 523.746 235.87 557.781 191.388 598.638 105.64499999999998 597.485 87.36399999999998 655.05 69.77600000000001 710.433 122.44200000000001 763.801 155.202 811.795 183.569 853.352 219.004 888.836 263.272 912.754 305.258 935.439 352.279 943.838 400 944.059' fill='%23c81f1f'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1219'%3e%3crect width='400' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.yellow--background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='700' preserveAspectRatio='none' viewBox='0 0 400 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1220%26quot%3b)' fill='none'%3e%3crect width='400' height='700' x='0' y='0' fill='rgba(249%2c 168%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c288.081C53.278%2c293.892%2c107.076%2c262.778%2c143.778%2c223.723C177.47%2c187.871%2c170.135%2c131.768%2c189.427%2c86.509C208.023%2c42.882%2c257.809%2c10.699%2c254.756%2c-36.628C251.693%2c-84.105%2c212.202%2c-122.362%2c174.114%2c-150.871C140.188%2c-176.265%2c96.595%2c-179.86%2c54.719%2c-186.357C17.924%2c-192.065%2c-18.225%2c-193.738%2c-54.724%2c-186.373C-94.066%2c-178.434%2c-137.096%2c-171.885%2c-164.107%2c-142.2C-191.292%2c-112.323%2c-186.274%2c-67.063%2c-198.357%2c-28.519C-213.305%2c19.163%2c-259.183%2c63.764%2c-243.553%2c111.227C-228.135%2c158.044%2c-164.825%2c165.45%2c-124.941%2c194.412C-81.952%2c225.628%2c-52.814%2c282.32%2c0%2c288.081' fill='%23f89e0c'%3e%3c/path%3e%3cpath d='M400 944.059C447.898 944.281 496.169 938.157 537.544 914.023 579.98 889.27 619.0699999999999 853.756 634.674 807.172 649.756 762.146 626.244 715.443 619.822 668.394 613.343 620.931 618.1990000000001 572.34 596.771 529.4970000000001 571.315 478.601 541.156 421.125 487.16200000000003 403.153 433.021 385.132 371.796 408.532 323.198 438.436 280.347 464.803 272.925 523.746 235.87 557.781 191.388 598.638 105.64499999999998 597.485 87.36399999999998 655.05 69.77600000000001 710.433 122.44200000000001 763.801 155.202 811.795 183.569 853.352 219.004 888.836 263.272 912.754 305.258 935.439 352.279 943.838 400 944.059' fill='%23fab23e'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1220'%3e%3crect width='400' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

$pretty-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
.pretty-shadow {
    box-shadow: $pretty-shadow;
}

$pretty-shadow-2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

.pretty-shadow-2 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

$border-blue: #4095ff;
$border-red: #e3473b;
$border-yellow: #ffc107;
$border-green: #145a32;
$border-purple: #a140ff;
$border-pink: #c51a58;
$border-blue-grey: #506874;
$border-teal: #24b299;
$border-brown: #4f311e;
$border-black: #1D1D1D;

.bg-badge--baby-blue {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(208%2c 238%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23bce7f6'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%23e4f5fc'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
 
     }

&.bordered {
    border-color: $border-blue;
 }
}   

$bg-badge--baby-blue: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(208%2c 238%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23bce7f6'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%23e4f5fc'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

.bg-badge--pale-red {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(227%2c 71%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23da2c1f'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%23e8665c'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
    }
   &.bordered {
        border-color: $border-red;
     }
}

.bg-badge--green {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(24%2c 106%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23145831'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%231c7c45'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    }

    &.bordered{
        border-color: $border-green;
    }
 
}

.bg-badge--chartreuse {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(196%2c 197%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23b2b32d'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%23cecf3d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.bg-badge--amber {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(255%2c 193%2c 7%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c23.505C4.325%2c23.572%2c6.803%2c18.586%2c10.439%2c16.243C14.07%2c13.904%2c18.99%2c13.367%2c21.348%2c9.749C23.803%2c5.982%2c24.473%2c0.977%2c23.198%2c-3.335C21.976%2c-7.47%2c17.641%2c-9.585%2c14.7%2c-12.738C11.891%2c-15.749%2c10.125%2c-19.929%2c6.298%2c-21.45C2.351%2c-23.019%2c-2.062%2c-22.086%2c-6.177%2c-21.037C-10.414%2c-19.957%2c-14.539%2c-18.36%2c-17.696%2c-15.334C-21.04%2c-12.129%2c-24.866%2c-8.13%2c-24.457%2c-3.516C-24.042%2c1.167%2c-18.477%2c3.376%2c-15.701%2c7.17C-13.628%2c10.003%2c-12.666%2c13.392%2c-10.233%2c15.923C-7.23%2c19.047%2c-4.332%2c23.438%2c0%2c23.505' fill='%23f6b900'%3e%3c/path%3e%3cpath d='M50 66.254C52.918 65.577 54.865 63.04 57.093 61.037 58.968 59.352000000000004 60.906 57.752 61.99 55.476 63.085 53.175 63.207 50.642 63.255 48.094 63.312 45.101 63.878 41.888 62.295 39.347 60.638 36.687 57.563 35.338 54.626 34.245 51.521 33.09 48.206 32.152 44.980000000000004 32.905 41.669 33.678 38.832 35.825 36.658 38.439 34.512 41.019999999999996 32.32 44.21 32.82 47.53 33.314 50.812 37.816 51.916 39.146 54.957 40.513999999999996 58.083 38.057 62.445 40.421 64.905 42.701 67.27799999999999 46.794 66.998 50 66.254' fill='%23ffc517'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
   
    }
     &.bordered {
        border-color: $border-yellow;
     }
}
.bg-badge--black {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c23.505C4.325%2c23.572%2c6.803%2c18.586%2c10.439%2c16.243C14.07%2c13.904%2c18.99%2c13.367%2c21.348%2c9.749C23.803%2c5.982%2c24.473%2c0.977%2c23.198%2c-3.335C21.976%2c-7.47%2c17.641%2c-9.585%2c14.7%2c-12.738C11.891%2c-15.749%2c10.125%2c-19.929%2c6.298%2c-21.45C2.351%2c-23.019%2c-2.062%2c-22.086%2c-6.177%2c-21.037C-10.414%2c-19.957%2c-14.539%2c-18.36%2c-17.696%2c-15.334C-21.04%2c-12.129%2c-24.866%2c-8.13%2c-24.457%2c-3.516C-24.042%2c1.167%2c-18.477%2c3.376%2c-15.701%2c7.17C-13.628%2c10.003%2c-12.666%2c13.392%2c-10.233%2c15.923C-7.23%2c19.047%2c-4.332%2c23.438%2c0%2c23.505' fill='%23131313'%3e%3c/path%3e%3cpath d='M50 66.254C52.918 65.577 54.865 63.04 57.093 61.037 58.968 59.352000000000004 60.906 57.752 61.99 55.476 63.085 53.175 63.207 50.642 63.255 48.094 63.312 45.101 63.878 41.888 62.295 39.347 60.638 36.687 57.563 35.338 54.626 34.245 51.521 33.09 48.206 32.152 44.980000000000004 32.905 41.669 33.678 38.832 35.825 36.658 38.439 34.512 41.019999999999996 32.32 44.21 32.82 47.53 33.314 50.812 37.816 51.916 39.146 54.957 40.513999999999996 58.083 38.057 62.445 40.421 64.905 42.701 67.27799999999999 46.794 66.998 50 66.254' fill='%23272727'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    &.bordered {
        border-color: $border-black;
    }
}

.bg-badge--brown {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(79%2c 49%2c 30%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%23462c1b'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%23583621'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    }
    &.bordered {
        border-color: $border-brown;
    }
   }
.bg-badge--teal {
    &:not(.bordered) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1023%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(36%2c 178%2c 153%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%2321a28b'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%2327c2a7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1023'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    &.bordered {
        border-color: $border-teal;
    }
}

.bg-badge--blue {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(64%2c 149%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c21.365C3.828%2c20.457%2c6.063%2c16.709%2c9.425%2c14.666C12.91%2c12.549%2c18.007%2c12.682%2c20.076%2c9.168C22.149%2c5.647%2c20.108%2c1.232%2c19.732%2c-2.837C19.333%2c-7.152%2c20.737%2c-12.237%2c17.801%2c-15.424C14.862%2c-18.615%2c9.625%2c-17.406%2c5.401%2c-18.394C1.468%2c-19.314%2c-2.181%2c-21.63%2c-6.175%2c-21.03C-10.433%2c-20.39%2c-14.869%2c-18.543%2c-17.293%2c-14.984C-19.663%2c-11.503%2c-18.901%2c-6.889%2c-18.67%2c-2.684C-18.477%2c0.834%2c-16.951%2c3.927%2c-16.068%2c7.338C-14.959%2c11.625%2c-16.151%2c17.029%2c-12.815%2c19.941C-9.51%2c22.826%2c-4.269%2c22.377%2c0%2c21.365' fill='%232385ff'%3e%3c/path%3e%3cpath d='M50 68.749C54.347 68.925 58.985 72.02199999999999 62.743 69.828 66.487 67.642 66.336 62.224000000000004 68.019 58.229 69.643 54.376 73.146 50.895 72.458 46.771 71.771 42.653999999999996 67.663 40.17 64.542 37.399 61.79 34.956 58.963 32.525999999999996 55.396 31.623 51.903 30.738 48.317 31.481 44.835 32.408 41.274 33.356 37.757999999999996 34.547 35.045 37.041 32.129999999999995 39.721000000000004 30.021 43.157 28.985 46.979 27.859 51.132 27.296 55.642 28.923 59.626 30.576 63.675 33.891 67.08500000000001 37.903999999999996 68.822 41.681 70.457 45.887 68.582 50 68.749' fill='%235da5ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

     }
     &.bordered {
        border-color: $border-blue;
     }
    }

.bg-badge--purple {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(161%2c 64%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c23.505C4.325%2c23.572%2c6.803%2c18.586%2c10.439%2c16.243C14.07%2c13.904%2c18.99%2c13.367%2c21.348%2c9.749C23.803%2c5.982%2c24.473%2c0.977%2c23.198%2c-3.335C21.976%2c-7.47%2c17.641%2c-9.585%2c14.7%2c-12.738C11.891%2c-15.749%2c10.125%2c-19.929%2c6.298%2c-21.45C2.351%2c-23.019%2c-2.062%2c-22.086%2c-6.177%2c-21.037C-10.414%2c-19.957%2c-14.539%2c-18.36%2c-17.696%2c-15.334C-21.04%2c-12.129%2c-24.866%2c-8.13%2c-24.457%2c-3.516C-24.042%2c1.167%2c-18.477%2c3.376%2c-15.701%2c7.17C-13.628%2c10.003%2c-12.666%2c13.392%2c-10.233%2c15.923C-7.23%2c19.047%2c-4.332%2c23.438%2c0%2c23.505' fill='%239323ff'%3e%3c/path%3e%3cpath d='M50 66.254C52.918 65.577 54.865 63.04 57.093 61.037 58.968 59.352000000000004 60.906 57.752 61.99 55.476 63.085 53.175 63.207 50.642 63.255 48.094 63.312 45.101 63.878 41.888 62.295 39.347 60.638 36.687 57.563 35.338 54.626 34.245 51.521 33.09 48.206 32.152 44.980000000000004 32.905 41.669 33.678 38.832 35.825 36.658 38.439 34.512 41.019999999999996 32.32 44.21 32.82 47.53 33.314 50.812 37.816 51.916 39.146 54.957 40.513999999999996 58.083 38.057 62.445 40.421 64.905 42.701 67.27799999999999 46.794 66.998 50 66.254' fill='%23af5dff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

    &.bordered {
        border-color: $border-purple;
    }
 }

.bg-badge--pink {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(216%2c 27%2c 96%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c23.505C4.325%2c23.572%2c6.803%2c18.586%2c10.439%2c16.243C14.07%2c13.904%2c18.99%2c13.367%2c21.348%2c9.749C23.803%2c5.982%2c24.473%2c0.977%2c23.198%2c-3.335C21.976%2c-7.47%2c17.641%2c-9.585%2c14.7%2c-12.738C11.891%2c-15.749%2c10.125%2c-19.929%2c6.298%2c-21.45C2.351%2c-23.019%2c-2.062%2c-22.086%2c-6.177%2c-21.037C-10.414%2c-19.957%2c-14.539%2c-18.36%2c-17.696%2c-15.334C-21.04%2c-12.129%2c-24.866%2c-8.13%2c-24.457%2c-3.516C-24.042%2c1.167%2c-18.477%2c3.376%2c-15.701%2c7.17C-13.628%2c10.003%2c-12.666%2c13.392%2c-10.233%2c15.923C-7.23%2c19.047%2c-4.332%2c23.438%2c0%2c23.505' fill='%23c71958'%3e%3c/path%3e%3cpath d='M50 66.254C52.918 65.577 54.865 63.04 57.093 61.037 58.968 59.352000000000004 60.906 57.752 61.99 55.476 63.085 53.175 63.207 50.642 63.255 48.094 63.312 45.101 63.878 41.888 62.295 39.347 60.638 36.687 57.563 35.338 54.626 34.245 51.521 33.09 48.206 32.152 44.980000000000004 32.905 41.669 33.678 38.832 35.825 36.658 38.439 34.512 41.019999999999996 32.32 44.21 32.82 47.53 33.314 50.812 37.816 51.916 39.146 54.957 40.513999999999996 58.083 38.057 62.445 40.421 64.905 42.701 67.27799999999999 46.794 66.998 50 66.254' fill='%23e42369'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    &.bordered {
        border-color: $border-pink;
    }
   }

.bg-badge--blue-grey {
    &:not(.bordered) {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='50' height='50' preserveAspectRatio='none' viewBox='0 0 50 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='50' height='50' x='0' y='0' fill='rgba(84%2c 110%2c 122%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c23.505C4.325%2c23.572%2c6.803%2c18.586%2c10.439%2c16.243C14.07%2c13.904%2c18.99%2c13.367%2c21.348%2c9.749C23.803%2c5.982%2c24.473%2c0.977%2c23.198%2c-3.335C21.976%2c-7.47%2c17.641%2c-9.585%2c14.7%2c-12.738C11.891%2c-15.749%2c10.125%2c-19.929%2c6.298%2c-21.45C2.351%2c-23.019%2c-2.062%2c-22.086%2c-6.177%2c-21.037C-10.414%2c-19.957%2c-14.539%2c-18.36%2c-17.696%2c-15.334C-21.04%2c-12.129%2c-24.866%2c-8.13%2c-24.457%2c-3.516C-24.042%2c1.167%2c-18.477%2c3.376%2c-15.701%2c7.17C-13.628%2c10.003%2c-12.666%2c13.392%2c-10.233%2c15.923C-7.23%2c19.047%2c-4.332%2c23.438%2c0%2c23.505' fill='%234f6773'%3e%3c/path%3e%3cpath d='M50 66.254C52.918 65.577 54.865 63.04 57.093 61.037 58.968 59.352000000000004 60.906 57.752 61.99 55.476 63.085 53.175 63.207 50.642 63.255 48.094 63.312 45.101 63.878 41.888 62.295 39.347 60.638 36.687 57.563 35.338 54.626 34.245 51.521 33.09 48.206 32.152 44.980000000000004 32.905 41.669 33.678 38.832 35.825 36.658 38.439 34.512 41.019999999999996 32.32 44.21 32.82 47.53 33.314 50.812 37.816 51.916 39.146 54.957 40.513999999999996 58.083 38.057 62.445 40.421 64.905 42.701 67.27799999999999 46.794 66.998 50 66.254' fill='%23597581'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='50' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    &.bordered {
        border-color: $border-blue-grey;
    }
    }



.box-shadow--dark {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.simple-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hide-scroll {
    -ms-overflow-style: none!important; /* IE and Edge */
    scrollbar-width: none!important;; /* Firefox */
    &::-webkit-scrollbar {
        display: none!important;;
    }
}

.purple__background--small {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='900' preserveAspectRatio='none' viewBox='0 0 500 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1637%26quot%3b)' fill='none'%3e%3crect width='500' height='900' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1638%26quot%3b)'%3e%3c/rect%3e%3cpath d='M24.29 211.04L95.31 252.04L95.31 334.04L24.29 375.04L-46.73 334.04L-46.73 252.04zM95.31 580.04L166.32 621.04L166.32 703.04L95.31 744.04L24.29 703.04L24.29 621.04zM166.32 457.04L237.34 498.04L237.34 580.04L166.32 621.04L95.31 580.04L95.31 498.04zM237.34 826.04L308.35 867.04L308.35 949.04L237.34 990.04L166.32 949.04L166.32 867.04zM308.35 211.04L379.37 252.04L379.37 334.04L308.35 375.04L237.34 334.04L237.34 252.04zM379.37 334.04L450.39 375.04L450.39 457.04L379.37 498.04L308.35 457.04L308.35 375.04zM308.35 703.04L379.37 744.04L379.37 826.04L308.35 867.04L237.34 826.04L237.34 744.04zM450.39 -34.96L521.4 6.04L521.4 88.04L450.39 129.04L379.37 88.04L379.37 6.04z' stroke='rgba(30%2c 6%2c 31%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M16.09 211.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM87.11 252.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM87.11 334.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM16.09 375.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM-54.93 334.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM-54.93 252.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM87.11 580.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM158.12 621.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM158.12 703.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM87.11 744.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM16.09 703.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM16.09 621.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM158.12 457.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 498.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 580.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM87.11 498.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 826.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 867.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 949.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 990.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM158.12 949.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM158.12 867.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 211.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 252.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 334.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 375.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 334.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 252.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM442.19 375.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM442.19 457.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 498.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 457.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM300.15 703.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 744.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 826.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM229.14 744.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM442.19 -34.96 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM513.2 6.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM513.2 88.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM442.19 129.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 88.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM371.17 6.04 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0z' fill='rgba(30%2c 6%2c 31%2c 1)'%3e%3c/path%3e%3cpath d='M83.18 45.2L146.4 81.7L146.4 154.7L83.18 191.2L19.96 154.7L19.96 81.7zM19.96 154.7L83.18 191.2L83.18 264.2L19.96 300.7L-43.26 264.2L-43.26 191.2zM83.18 483.2L146.4 519.7L146.4 592.7L83.18 629.2L19.96 592.7L19.96 519.7zM19.96 592.7L83.18 629.2L83.18 702.2L19.96 738.7L-43.26 702.2L-43.26 629.2zM146.4 -64.3L209.62 -27.8L209.62 45.2L146.4 81.7L83.18 45.2L83.18 -27.8zM209.62 264.2L272.85 300.7L272.85 373.7L209.62 410.2L146.4 373.7L146.4 300.7zM146.4 373.7L209.62 410.2L209.62 483.2L146.4 519.7L83.18 483.2L83.18 410.2zM209.62 483.2L272.85 519.7L272.85 592.7L209.62 629.2L146.4 592.7L146.4 519.7zM209.62 702.2L272.85 738.7L272.85 811.7L209.62 848.2L146.4 811.7L146.4 738.7zM336.07 264.2L399.29 300.7L399.29 373.7L336.07 410.2L272.85 373.7L272.85 300.7zM272.85 373.7L336.07 410.2L336.07 483.2L272.85 519.7L209.62 483.2L209.62 410.2zM399.29 -64.3L462.51 -27.8L462.51 45.2L399.29 81.7L336.07 45.2L336.07 -27.8zM462.51 264.2L525.73 300.7L525.73 373.7L462.51 410.2L399.29 373.7L399.29 300.7zM462.51 483.2L525.73 519.7L525.73 592.7L462.51 629.2L399.29 592.7L399.29 519.7z' stroke='rgba(84%2c 69%2c 87%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1637'%3e%3crect width='500' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-20%25' y1='11.11%25' x2='120%25' y2='88.89%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1638'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.03'%3e%3c/stop%3e%3cstop stop-color='rgba(39%2c 5%2c 47%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.purple__background--medium {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='820' height='1180' preserveAspectRatio='none' viewBox='0 0 820 1180'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1655%26quot%3b)' fill='none'%3e%3crect width='820' height='1180' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1656%26quot%3b)'%3e%3c/rect%3e%3cpath d='M97.81 49.61L168.82 90.61L168.82 172.61L97.81 213.61L26.79 172.61L26.79 90.61zM26.79 910.61L97.81 951.61L97.81 1033.61L26.79 1074.61L-44.23 1033.61L-44.23 951.61zM168.82 1156.61L239.84 1197.61L239.84 1279.61L168.82 1320.61L97.81 1279.61L97.81 1197.61zM381.87 1033.61L452.89 1074.61L452.89 1156.61L381.87 1197.61L310.85 1156.61L310.85 1074.61zM523.9 541.61L594.92 582.61L594.92 664.61L523.9 705.61L452.89 664.61L452.89 582.61zM523.9 1033.61L594.92 1074.61L594.92 1156.61L523.9 1197.61L452.89 1156.61L452.89 1074.61zM594.92 418.61L665.93 459.61L665.93 541.61L594.92 582.61L523.9 541.61L523.9 459.61z' stroke='rgba(30%2c 6%2c 31%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M89.61 49.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM160.62 90.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM160.62 172.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM89.61 213.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM18.59 172.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM18.59 90.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM18.59 910.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM89.61 951.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM89.61 1033.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM18.59 1074.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM-52.43 1033.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM-52.43 951.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM160.62 1156.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM231.64 1197.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM231.64 1279.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM160.62 1320.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM89.61 1279.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM89.61 1197.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM373.67 1033.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM444.69 1074.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM444.69 1156.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM373.67 1197.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM302.65 1156.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM302.65 1074.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM515.7 541.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM586.72 582.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM586.72 664.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM515.7 705.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM444.69 664.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM444.69 582.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM515.7 1033.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM586.72 1074.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM586.72 1156.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM515.7 1197.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM586.72 418.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM657.73 459.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM657.73 541.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0zM515.7 459.61 a8.2 8.2 0 1 0 16.4 0 a8.2 8.2 0 1 0 -16.4 0z' fill='rgba(30%2c 6%2c 31%2c 1)'%3e%3c/path%3e%3cpath d='M72.48 537.07L135.7 573.57L135.7 646.57L72.48 683.07L9.26 646.57L9.26 573.57zM135.7 -10.43L198.92 26.07L198.92 99.07L135.7 135.57L72.48 99.07L72.48 26.07zM135.7 208.57L198.92 245.07L198.92 318.07L135.7 354.57L72.48 318.07L72.48 245.07zM262.15 -10.43L325.37 26.07L325.37 99.07L262.15 135.57L198.92 99.07L198.92 26.07zM262.15 646.57L325.37 683.07L325.37 756.07L262.15 792.57L198.92 756.07L198.92 683.07zM451.81 99.07L515.03 135.57L515.03 208.57L451.81 245.07L388.59 208.57L388.59 135.57zM451.81 537.07L515.03 573.57L515.03 646.57L451.81 683.07L388.59 646.57L388.59 573.57zM578.25 537.07L641.48 573.57L641.48 646.57L578.25 683.07L515.03 646.57L515.03 573.57zM641.48 -10.43L704.7 26.07L704.7 99.07L641.48 135.57L578.25 99.07L578.25 26.07zM704.7 318.07L767.92 354.57L767.92 427.57L704.7 464.07L641.48 427.57L641.48 354.57zM641.48 646.57L704.7 683.07L704.7 756.07L641.48 792.57L578.25 756.07L578.25 683.07zM831.14 318.07L894.36 354.57L894.36 427.57L831.14 464.07L767.92 427.57L767.92 354.57zM767.92 427.57L831.14 464.07L831.14 537.07L767.92 573.57L704.7 537.07L704.7 464.07z' stroke='rgba(84%2c 69%2c 87%2c 0.5)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1655'%3e%3crect width='820' height='1180' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-10.98%25' y1='7.63%25' x2='110.98%25' y2='92.37%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1656'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.03'%3e%3c/stop%3e%3cstop stop-color='rgba(39%2c 5%2c 47%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.clickable {
    cursor: pointer;
}
.text-underline {
    text-decoration: underline;
}
.text-regular {
    font-weight: normal;
}

// Animations

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0.15em);
    }
}

// Colors

$background-color: white;

$rings-red: #f44336;
$primary: #673ab7 !default;
$red: #f44336 !default;
$red-1: #ffebee !default;
$red-2: #ffcdd2 !default;
$red-3: #ef9a9a !default;
$red-4: #e57373 !default;
$red-5: #ef5350 !default;
$red-6: #f44336 !default;
$red-7: #e53935 !default;
$red-8: #d32f2f !default;
$red-9: #c62828 !default;
$red-10: #b71c1c !default;
$red-11: #ff8a80 !default;
$red-12: #ff5252 !default;
$red-13: #ff1744 !default;
$red-14: #d50000 !default;
$pink: #e91e63 !default;
$pink-1: #fce4ec !default;
$pink-2: #f8bbd0 !default;
$pink-3: #f48fb1 !default;
$pink-4: #f06292 !default;
$pink-5: #ec407a !default;
$pink-6: #e91e63 !default;
$pink-7: #d81b60 !default;
$pink-8: #c2185b !default;
$pink-9: #ad1457 !default;
$pink-10: #880e4f !default;
$pink-11: #ff80ab !default;
$pink-12: #ff4081 !default;
$pink-13: #f50057 !default;
$pink-14: #c51162 !default;
$purple: #9c27b0 !default;
$purple-1: #f3e5f5 !default;
$purple-2: #e1bee7 !default;
$purple-3: #ce93d8 !default;
$purple-4: #ba68c8 !default;
$purple-5: #ab47bc !default;
$purple-6: #9c27b0 !default;
$purple-7: #8e24aa !default;
$purple-8: #7b1fa2 !default;
$purple-9: #6a1b9a !default;
$purple-10: #4a148c !default;
$purple-11: #ea80fc !default;
$purple-12: #e040fb !default;
$purple-13: #d500f9 !default;
$purple-14: #aa00ff !default;
$deep-purple: #673ab7 !default;
$deep-purple-1: #ede7f6 !default;
$deep-purple-2: #d1c4e9 !default;
$deep-purple-3: #b39ddb !default;
$deep-purple-4: #9575cd !default;
$deep-purple-5: #7e57c2 !default;
$deep-purple-6: #673ab7 !default;
$deep-purple-7: #5e35b1 !default;
$deep-purple-8: #512da8 !default;
$deep-purple-9: #4527a0 !default;
$deep-purple-10: #311b92 !default;
$deep-purple-11: #b388ff !default;
$deep-purple-12: #7c4dff !default;
$deep-purple-13: #651fff !default;
$deep-purple-14: #6200ea !default;
$indigo: #3f51b5 !default;
$indigo-1: #e8eaf6 !default;
$indigo-2: #c5cae9 !default;
$indigo-3: #9fa8da !default;
$indigo-4: #7986cb !default;
$indigo-5: #5c6bc0 !default;
$indigo-6: #3f51b5 !default;
$indigo-7: #3949ab !default;
$indigo-8: #303f9f !default;
$indigo-9: #283593 !default;
$indigo-10: #1a237e !default;
$indigo-11: #8c9eff !default;
$indigo-12: #536dfe !default;
$indigo-13: #3d5afe !default;
$indigo-14: #304ffe !default;
$blue: #2196f3 !default;
$blue-1: #e3f2fd !default;
$blue-2: #bbdefb !default;
$blue-3: #90caf9 !default;
$blue-4: #64b5f6 !default;
$blue-5: #42a5f5 !default;
$blue-6: #2196f3 !default;
$blue-7: #1e88e5 !default;
$blue-8: #1976d2 !default;
$blue-9: #1565c0 !default;
$blue-10: #0d47a1 !default;
$blue-11: #82b1ff !default;
$blue-12: #448aff !default;
$blue-13: #2979ff !default;
$blue-14: #2962ff !default;
$light-blue: #03a9f4 !default;
$light-blue-1: #e1f5fe !default;
$light-blue-2: #b3e5fc !default;
$light-blue-3: #81d4fa !default;
$light-blue-4: #4fc3f7 !default;
$light-blue-5: #29b6f6 !default;
$light-blue-6: #03a9f4 !default;
$light-blue-7: #039be5 !default;
$light-blue-8: #0288d1 !default;
$light-blue-9: #0277bd !default;
$light-blue-10: #01579b !default;
$light-blue-11: #80d8ff !default;
$light-blue-12: #40c4ff !default;
$light-blue-13: #00b0ff !default;
$light-blue-14: #0091ea !default;
$cyan: #00bcd4 !default;
$cyan-1: #e0f7fa !default;
$cyan-2: #b2ebf2 !default;
$cyan-3: #80deea !default;
$cyan-4: #4dd0e1 !default;
$cyan-5: #26c6da !default;
$cyan-6: #00bcd4 !default;
$cyan-7: #00acc1 !default;
$cyan-8: #0097a7 !default;
$cyan-9: #00838f !default;
$cyan-10: #006064 !default;
$cyan-11: #84ffff !default;
$cyan-12: #18ffff !default;
$cyan-13: #00e5ff !default;
$cyan-14: #00b8d4 !default;
$teal: #009688 !default;
$teal-1: #e0f2f1 !default;
$teal-2: #b2dfdb !default;
$teal-3: #80cbc4 !default;
$teal-4: #4db6ac !default;
$teal-5: #26a69a !default;
$teal-6: #009688 !default;
$teal-7: #00897b !default;
$teal-8: #00796b !default;
$teal-9: #00695c !default;
$teal-10: #004d40 !default;
$teal-11: #a7ffeb !default;
$teal-12: #64ffda !default;
$teal-13: #1de9b6 !default;
$teal-14: #00bfa5 !default;
$green: #4caf50 !default;
$green-1: #e8f5e9 !default;
$green-2: #c8e6c9 !default;
$green-3: #a5d6a7 !default;
$green-4: #81c784 !default;
$green-5: #66bb6a !default;
$green-6: #4caf50 !default;
$green-7: #43a047 !default;
$green-8: #388e3c !default;
$green-9: #2e7d32 !default;
$green-10: #1b5e20 !default;
$green-11: #b9f6ca !default;
$green-12: #69f0ae !default;
$green-13: #00e676 !default;
$green-14: #00c853 !default;
$light-green: #8bc34a !default;
$light-green-1: #f1f8e9 !default;
$light-green-2: #dcedc8 !default;
$light-green-3: #c5e1a5 !default;
$light-green-4: #aed581 !default;
$light-green-5: #9ccc65 !default;
$light-green-6: #8bc34a !default;
$light-green-7: #7cb342 !default;
$light-green-8: #689f38 !default;
$light-green-9: #558b2f !default;
$light-green-10: #33691e !default;
$light-green-11: #ccff90 !default;
$light-green-12: #b2ff59 !default;
$light-green-13: #76ff03 !default;
$light-green-14: #64dd17 !default;
$lime: #cddc39 !default;
$lime-1: #f9fbe7 !default;
$lime-2: #f0f4c3 !default;
$lime-3: #e6ee9c !default;
$lime-4: #dce775 !default;
$lime-5: #d4e157 !default;
$lime-6: #cddc39 !default;
$lime-7: #c0ca33 !default;
$lime-8: #afb42b !default;
$lime-9: #9e9d24 !default;
$lime-10: #827717 !default;
$lime-11: #f4ff81 !default;
$lime-12: #eeff41 !default;
$lime-13: #c6ff00 !default;
$lime-14: #aeea00 !default;
$yellow: #ffeb3b !default;
$yellow-1: #fffde7 !default;
$yellow-2: #fff9c4 !default;
$yellow-3: #fff59d !default;
$yellow-4: #fff176 !default;
$yellow-5: #ffee58 !default;
$yellow-6: #ffeb3b !default;
$yellow-7: #fdd835 !default;
$yellow-8: #fbc02d !default;
$yellow-9: #f9a825 !default;
$yellow-10: #f57f17 !default;
$yellow-11: #ffff8d !default;
$yellow-12: #ffff00 !default;
$yellow-13: #ffea00 !default;
$yellow-14: #ffd600 !default;
$amber: #ffc107 !default;
$amber-1: #fff8e1 !default;
$amber-2: #ffecb3 !default;
$amber-3: #ffe082 !default;
$amber-4: #ffd54f !default;
$amber-5: #ffca28 !default;
$amber-6: #ffc107 !default;
$amber-7: #ffb300 !default;
$amber-8: #ffa000 !default;
$amber-9: #ff8f00 !default;
$amber-10: #ff6f00 !default;
$amber-11: #ffe57f !default;
$amber-12: #ffd740 !default;
$amber-13: #ffc400 !default;
$amber-14: #ffab00 !default;
$orange: #ff9800 !default;
$orange-1: #fff3e0 !default;
$orange-2: #ffe0b2 !default;
$orange-3: #ffcc80 !default;
$orange-4: #ffb74d !default;
$orange-5: #ffa726 !default;
$orange-6: #ff9800 !default;
$orange-7: #fb8c00 !default;
$orange-8: #f57c00 !default;
$orange-9: #ef6c00 !default;
$orange-10: #e65100 !default;
$orange-11: #ffd180 !default;
$orange-12: #ffab40 !default;
$orange-13: #ff9100 !default;
$orange-14: #ff6d00 !default;
$deep-orange: #ff5722 !default;
$deep-orange-1: #fbe9e7 !default;
$deep-orange-2: #ffccbc !default;
$deep-orange-3: #ffab91 !default;
$deep-orange-4: #ff8a65 !default;
$deep-orange-5: #ff7043 !default;
$deep-orange-6: #ff5722 !default;
$deep-orange-7: #f4511e !default;
$deep-orange-8: #e64a19 !default;
$deep-orange-9: #d84315 !default;
$deep-orange-10: #bf360c !default;
$deep-orange-11: #ff9e80 !default;
$deep-orange-12: #ff6e40 !default;
$deep-orange-13: #ff3d00 !default;
$deep-orange-14: #dd2c00 !default;
$brown: #795548 !default;
$brown-1: #efebe9 !default;
$brown-2: #d7ccc8 !default;
$brown-3: #bcaaa4 !default;
$brown-4: #a1887f !default;
$brown-5: #8d6e63 !default;
$brown-6: #795548 !default;
$brown-7: #6d4c41 !default;
$brown-8: #5d4037 !default;
$brown-9: #4e342e !default;
$brown-10: #3e2723 !default;
$brown-11: #d7ccc8 !default;
$brown-12: #bcaaa4 !default;
$brown-13: #8d6e63 !default;
$brown-14: #5d4037 !default;
$grey: #9e9e9e !default;
$grey-1: #fafafa !default;
$grey-2: #f5f5f5 !default;
$grey-3: #eeeeee !default;
$grey-4: #e0e0e0 !default;
$grey-5: #bdbdbd !default;
$grey-6: #9e9e9e !default;
$grey-7: #757575 !default;
$grey-8: #616161 !default;
$grey-9: #424242 !default;
$grey-10: #212121 !default;
$grey-11: #f5f5f5 !default;
$grey-12: #eeeeee !default;
$grey-13: #bdbdbd !default;
$grey-14: #616161 !default;
$blue-grey: #607d8b !default;
$blue-grey-1: #eceff1 !default;
$blue-grey-2: #cfd8dc !default;
$blue-grey-3: #b0bec5 !default;
$blue-grey-4: #90a4ae !default;
$blue-grey-5: #78909c !default;
$blue-grey-6: #607d8b !default;
$blue-grey-7: #546e7a !default;
$blue-grey-8: #455a64 !default;
$blue-grey-9: #37474f !default;
$blue-grey-10: #263238 !default;
$blue-grey-11: #cfd8dc !default;
$blue-grey-12: #b0bec5 !default;
$blue-grey-13: #78909c !default;
$blue-grey-14: #455a64 !default;
