$base: 10;
$above: 1;
$below: -1;

$z-footer: $above + $base;
$z-tools: $above + $z-footer;
$z-drawer: $above + $z-tools;
$z-header: $above + $z-drawer;
$z-tooltip: $above + $z-header;
$z-dialog: $above + $z-tooltip;
$z-confirmation: $above + $z-dialog;
$z-notification: $above + $z-confirmation;

.q-footer {
    z-index: $z-footer!important;
}
.q-header {
    z-index: $z-header!important;
}
.q-fab {
    z-index: $z-tools!important;
}

.q-tabs {
    z-index: $z-footer!important;

}
.q-drawer__backdrop, .q-drawer__opener, .q-drawer {
    z-index: $z-drawer!important;
}
.q-inner-loading {
    z-index: $z-confirmation!important;
}
